{
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {

  }
}
